<% breadcrumb :product, @product %>

<h1><%= @product.name %></h1>

<p>
  <%= link_to "See reviews", product_reviews_path(@product), class: "js-append-trail" %>
</p>

<p>
  The product description would go here.
</p>

<div id="back">
  <% parent_breadcrumb do |parent| %>
    <%= breadcrumb_link_to "Back", parent.url %>
  <% end %>
</div>